<mat-card class="user-card mat-elevation-z0">
  <mat-card-header class="user-card__header header">
    <img mat-card-avatar [src]="user.avatarUrl" [alt]="user.name" class="header__avatar">
    <mat-card-title class="header__title">{{ user.nickname}}</mat-card-title>
    <mat-card-subtitle class="header__subtitle">{{ user.country }}</mat-card-subtitle>
    <button class="header__btn btn">
      <mat-icon class="icon">bookmark_add</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content class="user-card__interests-list interests-list">
    <ul class="interests-list">
      <li *ngFor="let interest of user.interests" class="interests-list__item">#{{ interest }}</li>
    </ul>
  </mat-card-content>
  <mat-card-actions class="user-card__action action">
    <button class="action__btn btn">
      <mat-icon class="icon">person</mat-icon>
    </button>
    <button class="action__btn btn" (click)="createChat(user.id)">
      <mat-icon class="icon">email</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
