<form [formGroup]="emailForm" class="container__form form" (ngSubmit)="updateEmail()">
  <mat-form-field>
    <mat-label>Your Email:</mat-label>
    <input matInput formControlName="email" type="email" placeholder="example@mail.com" required>
    <mat-error *ngIf="emailForm.controls.email.errors?.alreadyUsed">{{ emailForm.controls.email.errors?.message }}</mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" [disabled]="emailForm.invalid" class="form__btn">Update Email</button>
</form>

<form [formGroup]="passwordForm" class="container__form form" (ngSubmit)="updatePassword()">
  <mat-form-field>
    <mat-label>Your Password:</mat-label>
    <input matInput formControlName="password" type="password" placeholder="******" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Confirm your Password:</mat-label>
    <input matInput formControlName="confirmPassword" type="password" placeholder="******" required>
    <mat-error *ngIf="passwordForm.controls.confirmPassword.errors?.mismatch">Password and confirmation should match</mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" [disabled]="passwordForm.invalid" class="form__btn">Update Password</button>
</form>
