<div *ngIf="user" class="container">
  <h2 class="container__title">EDIT YOUR PROFILE</h2>
  <form [formGroup]="registrationForm" class="container__form form" (ngSubmit)="updateFormValue()">
    <mat-form-field>
      <mat-label>Your Name:</mat-label>
      <input matInput formControlName="name" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Your Nickname:</mat-label>
      <input matInput formControlName="nickname" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Your Email:</mat-label>
      <input matInput formControlName="email" placeholder="example@mail.com" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Date Of Birth:</mat-label>
      <input matInput [matDatepicker]="picker1" formControlName="dateOfBirth">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Select your country</mat-label>
      <mat-select formControlName="country" required>
        <mat-option value="ukraine">Ukraine</mat-option>
        <mat-option value="united-states">United States</mat-option>
        <mat-option value="france">France</mat-option>
        <mat-option value="italy">Italy</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="form__desc">
      <mat-label>Some sentences about yourself:</mat-label>
      <textarea matInput formControlName="sentenceAboutUser"></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="!registrationForm.valid" class="form__btn">Save</button>
  </form>
</div>
<p>header-cell</p>
