<mat-card class="user">
  <mat-card-header class="user__header header">
    <img mat-card-avatar src="../../../assets/img/test-img.jpg" alt="test-image" class="header__avatar">
    <mat-card-title class="header__title">{{ user.nickname}}</mat-card-title>
    <mat-card-subtitle class="header__subtitle">{{ user.country }}</mat-card-subtitle>
    <!-- <mat-icon class="icon">person</mat-icon> -->
  </mat-card-header>
  <mat-card-content class="user__interests-list interests-list">
    <ul class="interests-list">
      <li class="interests-list__item">#dancing</li>
      <li class="interests-list__item">#painting</li>
    </ul>
    <mat-icon class="icon">textsms</mat-icon>
  </mat-card-content>
</mat-card>
