<ng-container [ngSwitch]="currentStep">
  <app-credentials
    *ngSwitchCase="Steps.START"
    (onComplete)="openStep(Steps.WAIT_CONFIRMATION)"
  ></app-credentials>

  <app-wait-confirmation
    *ngSwitchCase="Steps.WAIT_CONFIRMATION"
  ></app-wait-confirmation>

  <app-user-details
    *ngSwitchCase="Steps.USER_DETAILS"
    (onComplete)="openStep(Steps.INTERESTS)"
  ></app-user-details>

  <app-user-interests
    *ngSwitchCase="Steps.INTERESTS"
    (onComplete)="complete()"
  ></app-user-interests>
</ng-container>
