:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar {
  height: 100%;
}

.sidebar__drawer {
  width: 300px;
}

.sidebar__drawer-content {
  flex-grow: 1;
}

.container {
  font-size: 16px;
  padding-top: 40px;
}
