<app-header></app-header>

<mat-drawer-container class="sidebar">
  <mat-drawer mode="side" class="sidebar__drawer" opened>
    <mat-nav-list>
      <a
        *ngFor="let link of navigationLinks"
        mat-list-item
        [routerLink]="link.href"
        routerLinkActive="mat-list-item-disabled"
      >
        <h3 matLine>{{ link.title }}</h3>
      </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content class="sidebar__drawer-content">
    <div class="container">
      <h2 class="container__title">EDIT YOUR PROFILE</h2>

      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
