<div class="container">
  <h2 class="container__title">REGISTRATION FORM</h2>

  <form [formGroup]="registrationForm" class="container__form form" (ngSubmit)="saveUserData()">
    <mat-form-field>
      <mat-label>Your Email:</mat-label>
      <input matInput formControlName="email" type="email" placeholder="example@mail.com" required>
      <mat-error *ngIf="getError('email')?.alreadyUsed">{{ getError('email')?.message }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Your Password:</mat-label>
      <input matInput formControlName="password" type="password" placeholder="******" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Confirm your Password:</mat-label>
      <input matInput formControlName="confirmPassword" type="password" placeholder="******" required>
      <mat-error *ngIf="getError('confirmPassword')?.mismatch">Password and confirmation should match</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" [disabled]="!registrationForm.valid" class="form__btn">Next step</button>
  </form>
</div>
